@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; 
font-family: 'Homemade Apple', cursive; 
font-family: 'Roboto Slab', serif; */

* {
  padding: 0;
  margin: 0;
}

:root {
  --red-realtify: #d35649;
  --blue-realtify: #509bd7;
  --gray-realtify: #98a5a6;
  --black-realtify: #333;
  --white-realtify: #efefef;
}

.hidden {
  display: none;
}

.display-flex {
  display: flex;
}

/* Navbar */



.mobile-nav {
  width: 100%;
}

.nav__logo-container {
  display: flex;
  justify-content: center;
  background: var(--red-realtify);
  align-items: center;
  padding: 5px 0;
  
}

.nav__logo {
  border: 5px solid var(--gray-realtify);
  background: var(--white-realtify);
  border-radius: 50%;
  width: 50px;
  margin-right: 5px;
}

.nav__title {
  color: var(--white-realtify);
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize; 
  margin-left: 5px;
}

.nav__icons-container {
  display: flex;
  justify-content: center;
  background: var(--gray-realtify);
  height: 50px;
  align-items: center;
}

.nav__icons-border {
  background: var(--gray-realtify);
  border: 3px solid var(--white-realtify);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-realtify);
  margin: 0 4px;
}

.icons-style {
  color: var(--white-realtify);
}

.icons-style:hover {
  color: var(--white-realtify);
}

.nav__icons-border:hover {
  background: var(--red-realtify);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-realtify);
}

.tablet-nav {
  display: none;
}

@media screen and (min-width: 768px) {

  .mobile-nav {
    display: none;
  }

  .tablet-nav {
    width: 100%; 
    display: block;

  }

  .logo-title-wrapper {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .nav__logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav__logo {
    border: 8px solid var(--gray-realtify);
    background: var(--white-realtify);
    border-radius: 50%;
    width: 65px;
  }
  
  .nav__title {
    color: var(--white-realtify);
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    margin-left: 5px;
    font-size: 2.75rem;
  }
  
  .nav__icons-container {  
    align-items: center;
    margin-right: 2rem;
    background: var(--red-realtify);
  }
  
  .nav__icons-border {
    background: var(--gray-realtify);
    border: 3px solid var(--white-realtify);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-realtify);
    margin: 0 0.4rem 0 1rem;
  }
  
  .icons-style {
    color: var(--white-realtify);
  }
  
  .icons-style:hover {
    color: var(--white-realtify);
  }
  
  .nav__icons-border:hover {
    background: var(--red-realtify);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-realtify);
  }

  .nav__icons-links {
    text-decoration: none;
    color: var(--white-realtify);
    padding: 0 0.5rem;
    font-size: 1.2rem;
  } 

  .nav__icons-links:hover {
    text-decoration: underline;
    color: var(--white-realtify);
  }

  .nav__gray-section {
    background: var(--gray-realtify);
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .nav__gray-title {
    color: var(--white-realtify);
    font-family: 'Homemade Apple', cursive;
    font-size: 1.15rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  }

  .extra-icons {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

  .nav__icons-container {
    display: none;
  }

  .extra-icons {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    background: var(--red-realtify);
  }
  
}

/* Main */

.ny__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(../assets/centralpark.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search-form-small {
  display: block;
  border: none;

}

.search-input {
  margin: 0;
  border: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 250px;
  line-height: 2rem;
  text-align: center;
}

.search-btn {
  background: var(--red-realtify);
  color: var(--white-realtify);
  border: none;
  width: 100%;
  margin: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  line-height: 2rem;
}

.search-btn-link {
  color: var(--white-realtify);
  text-decoration: none;
}

.four__steps {
  display: block;
  background: var(--white-realtify);
  text-align: center;
  padding: 0.5rem;
}

.four__steps-title {
  color: var(--blue-realtify);
  padding: 1rem 0;
  font-family: 'Montserrat', sans-serif;
}

.four__steps-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.four__steps-cards {
  padding: 1.5rem;
}

.four__steps-cards:hover {
  background: #efefff;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.50);
  border-radius: 10px;
}

.fsc-icons {
  color: var(--black-realtify);
  font-size: 1.5rem;
  padding: 0.5rem;
}

.fsc-title {
  color: var(--black-realtify);
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.fsc-paragraphs {
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
  .four__steps-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}




