@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; 
font-family: 'Homemade Apple', cursive; 
font-family: 'Roboto Slab', serif; */

* {
  padding: 0;
  margin: 0;
}

:root {
  --red-realtify: #d35649;
  --blue-realtify: #509bd7;
  --gray-realtify: #98a5a6;
  --gray2-realtify: #656666;
  --black-realtify: #333;
  --white-realtify: #efefef;
  --dark-realtify: #000;
}

.hidden {
  display: none;
}

.display-flex {
  display: flex;
}

/* Navbar */



.mobile-nav {
  width: 100%;
}

.nav__logo-container {
  display: flex;
  justify-content: center;
  background: var(--red-realtify);
  align-items: center;
  padding: 5px 0;
  
}

.nav__logo {
  border: 5px solid var(--gray-realtify);
  background: var(--white-realtify);
  border-radius: 50%;
  width: 50px;
  margin-right: 5px;
}

.nav__title {
  color: var(--white-realtify);
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize; 
  margin-left: 5px;
}

.nav__icons-container {
  display: flex;
  justify-content: center;
  background: var(--gray-realtify);
  height: 50px;
  align-items: center;
}

.nav__icons-border {
  background: var(--gray-realtify);
  border: 3px solid var(--white-realtify);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-realtify);
  margin: 0 4px;
}

.icons-style {
  color: var(--white-realtify);
}

.icons-style:hover {
  color: var(--white-realtify);
}

.nav__icons-border:hover {
  background: var(--red-realtify);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-realtify);
}

.tablet-nav {
  display: none;
}

@media screen and (min-width: 768px) {

  .mobile-nav {
    display: none;
  }

  .tablet-nav {
    width: 100%; 
    display: block;

  }

  .logo-title-wrapper {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .nav__logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav__logo {
    border: 8px solid var(--gray-realtify);
    background: var(--white-realtify);
    border-radius: 50%;
    width: 65px;
  }
  
  .nav__title {
    color: var(--white-realtify);
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    margin-left: 5px;
    font-size: 2.75rem;
  }
  
  .nav__icons-container {  
    align-items: center;
    margin-right: 2rem;
    background: var(--red-realtify);
  }
  
  .nav__icons-border {
    background: var(--gray-realtify);
    border: 3px solid var(--white-realtify);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-realtify);
    margin: 0 0.4rem 0 1rem;
  }
  
  .icons-style {
    color: var(--white-realtify);
  }
  
  .icons-style:hover {
    color: var(--white-realtify);
  }
  
  .nav__icons-border:hover {
    background: var(--red-realtify);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-realtify);
  }

  .nav__icons-links {
    text-decoration: none;
    color: var(--white-realtify);
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
  } 

  .nav__icons-links:hover {
    text-decoration: underline;
    color: var(--white-realtify);
  }

  .nav__gray-section {
    background: var(--gray-realtify);
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .nav__gray-title {
    color: var(--white-realtify);
    font-family: 'Homemade Apple', cursive;
    font-size: 1.15rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  }

  .extra-icons {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

  .nav__icons-container {
    display: none;
  }

  .extra-icons {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    background: var(--red-realtify);
  }
  
}

/* Main */

.ny__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(../assets/centralpark.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search-form-small {
  display: block;
  border: none;

}

.search-input {
  margin: 0;
  border: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 250px;
  line-height: 2rem;
  text-align: center;
}

.search-btn {
  background: var(--red-realtify);
  color: var(--white-realtify);
  border: none;
  width: 100%;
  margin: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  line-height: 2rem;
}

.search-btn-link {
  color: var(--white-realtify);
  text-decoration: none;
}

.four__steps {
  display: block;
  background: var(--white-realtify);
  text-align: center;
  padding: 0.5rem;
}

.four__steps-title {
  color: var(--blue-realtify);
  padding: 1rem 0;
  font-family: 'Montserrat', sans-serif;
}

.four__steps-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.four__steps-cards {
  padding: 2rem;
  margin-bottom: 1rem;
}

.four__steps-cards:hover {
  background: #efefff;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.50);
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.fsc-icons {
  color: var(--black-realtify);
  font-size: 1.5rem;
  padding: 0.5rem;
}

.fsc-title {
  color: var(--black-realtify);
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.fsc-paragraphs {
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
  .four__steps-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {

  .four__steps-grid {
    padding: 0 3rem;
    grid-gap: 3rem;
  }

}

.banners__and__features {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.baf-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--red-realtify);
}

.baf-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--gray-realtify);
}
.baf-container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--blue-realtify);
}

.baf-wrapper {
  padding: 2rem 1rem;
}

.bafw-title {
  color: var(--white-realtify);
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem 0;
}

.bafw-paragraph {
  font-family: 'Montserrat', sans-serif;
  color: var(--white-realtify);
  padding-bottom: 2rem;

}

.bafw-link {
  font-family: 'Montserrat', sans-serif;
  color: var(--white-realtify);
  text-decoration: none;
  padding: 0.5rem;
  border: 5px solid var(--white-realtify);
  border-radius: 10px;
}

.bafw-link:hover {
  text-decoration: underline;
}

.bafw-logo1 {
  width: 50px;
  border-radius: 10px;
}

.bafw-logo2 {
  width: 50px;
  background: #fff;
  margin-left: 1rem;
}

.baf-image {
  padding: 1rem;
}

.bafi-img {
  border-radius: 50%;
  border: 10px solid var(--white-realtify);
  width: 100px;
}

@media screen and (min-width: 768px) {

  .baf-wrapper {
    margin: 2rem 0 2rem 2rem;
  }

  .baf-image {
    margin: 2rem 2rem 2rem 0;
  }

  .baf-image {
    padding: 0 1rem 0 0;
  }
  
  .bafi-img {
    width: 200px;
  }
}

@media screen and (min-width: 1024px) {

  .baf-wrapper {
    margin: 2.5rem 0 2.5rem 3rem;
  }

  .baf-image {
    margin: 2.5rem 3rem 2.5rem 0;
  }

  .baf-image {
    padding: 0 1rem 0 0;
  }
  
  .bafi-img {
    width: 250px;
  }
}

/* Footer */

.black__footer {
  background: var(--dark-realtify);
  width: 100%;
}

.bf-wrapper1 {
  background: var(--dark-realtify);
  padding: 1rem 0;
  text-align: center;
}

.bf-bar1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--white-realtify);
  border-bottom: 1px solid var(--white-realtify);
  padding: 1rem 0;
  background: var(--dark-realtify);
  position: relative;
}

.bf-links {
  color: var(--white-realtify);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 0 1rem;  
}

.bfb1 {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
}

.bfb2 {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

.bf-image {
  margin: 0 0.5rem;
  position: absolute;
}

.bf-img {
  width: 50px;
  filter: grayscale(100%);
  border: 10px solid var(--gray-realtify);
  border-radius: 50%;
}

.bf-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--dark-realtify);
  padding: 1rem 0;
  text-align: center;
  margin: 0 4rem;
}

.bf-bar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bf-subscribe {
  width: 100%;
  padding-bottom: 2rem;
}

.bf-contact {
  width: 100%;
  padding-bottom: 2rem;
}

.bf-about {
  width: 100%;
}

.bfs-title {
  color: var(--white-realtify);
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
}

.bfsi-input {
  line-height: 1.5rem;
  text-indent: 10px;
}

.bfsi-button {
  line-height: 1.5rem;
  padding: 0 0.5rem;
  background: var(--gray-realtify);
  color: var(--white-realtify);
}

.bfc-paragraph {
  color: var(--white-realtify);
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 0.5rem;
}

.bfa-paragraph {
  color: var(--white-realtify);
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 0.5rem;
}

.bfc-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--red-realtify);
}

.bfc-link:hover {
  text-decoration: underline;
}

.bfa-link {
  font-family: 'Montserrat', sans-serif;
  color: var(--red-realtify);
}


@media screen and (min-width: 768px) {
  .black__footer {
    background: var(--dark-realtify);
    width: 100%;
  }
  
  .bf-wrapper1 {
    background: var(--dark-realtify);
    padding: 3rem 0;
    text-align: center;
  }
  
  .bf-bar1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--white-realtify);
    border-bottom: 1px solid var(--white-realtify);
    padding: 1rem 0;
    margin: 0 3rem;
    background: var(--dark-realtify);
    position: relative;
  }
  
  .bf-links {
    color: var(--white-realtify);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0 1rem;  
  }
  
  .bfb1 {    
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .bfb2 {
    margin-left: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .bf-image {
    margin: 0 1rem;
    position: absolute;
  }
  
  .bf-img {
    width: 100px;
    filter: grayscale(100%);
    border: 10px solid var(--gray-realtify);
    border-radius: 50%;
  }
  
  .bf-wrapper2 {
    display: flex;
    justify-content: center;
    background: var(--dark-realtify);
    padding: 3rem 0;
    text-align: center;
    margin: 0 4rem;
  }
  
  .bf-bar2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .bf-subscribe {
    width: 30%;
  }
  
  .bf-contact {
    width: 30%;
  }
  
  .bf-about {
    width: 30%;
  }
  
  .bfs-title {
    color: var(--white-realtify);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1rem;
  }
  
  .bfsi-input {
    line-height: 1.5rem;
    text-indent: 10px;
  }
  
  .bfsi-button {
    line-height: 1.5rem;
    padding: 0 0.5rem;
    background: var(--gray-realtify);
    color: var(--white-realtify);
  }
  
  .bfc-paragraph {
    color: var(--white-realtify);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5rem;
  }
  
  .bfa-paragraph {
    color: var(--white-realtify);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5rem;
  }
  
  .bfc-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--red-realtify);
  }
  
  .bfc-link:hover {
    text-decoration: underline;
  }
  
  .bfa-link {
    font-family: 'Montserrat', sans-serif;
    color: var(--red-realtify);
  }
}

@media screen and (min-width: 1024px) {

  .black__footer {
    background: var(--dark-realtify);
    width: 100%;
  }
  
  .bf-wrapper1 {
    background: var(--dark-realtify);
    padding: 3rem 0;
    text-align: center;
  }
  
  .bf-bar1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--white-realtify);
    border-bottom: 1px solid var(--white-realtify);
    padding: 1rem 0;
    margin: 0 3rem;
    background: var(--dark-realtify);
    position: relative;
  }
  
  .bf-links {
    color: var(--white-realtify);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0 1rem;  
  }
  
  .bfb1 {
    margin-right: 6rem;
    display: flex;
    flex-direction: row;
  }
  
  .bfb2 {
    margin-left: 6rem;
    display: flex;
    flex-direction: row;
  }
  
  .bf-image {
    margin: 0 1rem;
    position: absolute;
  }
  
  .bf-img {
    width: 100px;
    filter: grayscale(100%);
    border: 10px solid var(--gray-realtify);
    border-radius: 50%;
  }
  
  .bf-wrapper2 {
    display: flex;
    justify-content: center;
    background: var(--dark-realtify);
    padding: 3rem 0;
    text-align: center;
    margin: 0 4rem;
  }
  
  .bf-bar2 {
    display: flex;
    justify-content: space-between;
  }
  
  .bf-subscribe {
    width: 30%;
  }
  
  .bf-contact {
    width: 30%;
  }
  
  .bf-about {
    width: 30%;
  }
  
  .bfs-title {
    color: var(--white-realtify);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1rem;
  }
  
  .bfsi-input {
    line-height: 1.5rem;
    text-indent: 10px;
  }
  
  .bfsi-button {
    line-height: 1.5rem;
    padding: 0 0.5rem;
    background: var(--gray-realtify);
    color: var(--white-realtify);
  }
  
  .bfc-paragraph {
    color: var(--white-realtify);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5rem;
  }
  
  .bfa-paragraph {
    color: var(--white-realtify);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5rem;
  }
  
  .bfc-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--red-realtify);
  }
  
  .bfc-link:hover {
    text-decoration: underline;
  }
  
  .bfa-link {
    font-family: 'Montserrat', sans-serif;
    color: var(--red-realtify);
  }
}

.gray__footer {
  background: var(--gray2-realtify);
  width: 100%;
  padding: 1rem 0;

}

.gf-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%
}

.gf-links {
  text-decoration: none;
  color: var(--gray-realtify);
}

.gf-wrapper {
  display: block;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 0;
  margin: 0 1rem;
  color: var(--gray-realtify);
}

.gfw-powered {
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {

  .gf-icons {
    display: flex;
    justify-content: flex-start;
    width: 50%
  }

  .gfi-style {
    padding: 0 1rem;
  }

  .gf-wrapper {
    display: flex;
  }

  .gfw-powered {
    padding: 0 0 0 1rem;
  }
}
